<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{1} - %msg%n"/>
        </Console>
        <File name="LogToFile" fileName="logs/app.log">
            <PatternLayout>
                <Pattern>%d %p %c [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        <TextPaneAppender name="TextPaneAppender" />
    </Appenders>
    <Loggers>
        <Logger name="com.xubo" level="info" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="TextPaneAppender"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="TextPaneAppender"/>
        </Root>
    </Loggers>
</Configuration>